/* Montserrat font */
@font-face {
    font-family: Montserrat-Black;
    src: url(../assets/fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}


/* MontserratAlternates font */
@font-face {
    font-family: MontserratAlternates-Black;
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf);
}

@font-face {
    font-family: MontserratAlternates-Bold;
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf);
}

@font-face {
    font-family: MontserratAlternates-Light;
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf);
}

@font-face {
    font-family: MontserratAlternates-Medium;
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
}

@font-face {
    font-family: MontserratAlternates-Regular;
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}

@font-face {
    font-family: MontserratAlternates-Semibold;
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Semibold.ttf);
}


/* Raleway font */
@font-face {
    font-family: Raleway-Black;
    src: url(../assets/fonts/Raleway/Raleway-Black.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../assets/fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-Light;
    src: url(../assets/fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../assets/fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../assets/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Semibold;
    src: url(../assets/fonts/Raleway/Raleway-Semibold.ttf);
}


/* Roboto font */
@font-face {
    font-family: Roboto-Black;
    src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

.gradient-header {
    background: linear-gradient(308deg, rgba(138, 204, 80, 0.50) 14.06%, rgba(0, 0, 0, 0.00) 100%), #001342;
}

.gradient-unsere-teams {
    background: linear-gradient(304deg, rgba(138, 204, 80, 0.50) 14.06%, rgba(0, 0, 0, 0.00) 100%), #001342;
}

.gradient-die-founder {
    background: linear-gradient(300deg, rgba(138, 204, 80, 0.50) 14.06%, rgba(0, 0, 0, 0.00) 100%), #001342;
}

.gradient-die-founder-1 {
    background: linear-gradient(287deg, rgba(17, 99, 85, 0.35) 14.06%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(0, 19, 66, 0.95) 0%, rgba(0, 19, 66, 0.95) 100%), #FFF;
}

.gradient-map {
    background: linear-gradient(131deg, rgba(138, 204, 80, 0.50) 4.55%, rgba(0, 0, 0, 0.00) 100%), #001342;
}

.gradient-info {
    background: linear-gradient(297deg, rgba(0, 0, 0, 0.00) 0.23%, rgba(138, 204, 80, 0.50) 100%), #001342;
}

.gradient-footer {
    background: linear-gradient(299deg, rgba(138, 204, 80, 0.50) 14.06%, rgba(0, 0, 0, 0.00) 100%), #001342;
}

.bottom-shape {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.founders-shape {
    clip-path: polygon(0 25%, 40% 20%, 50% 0, 65% 25%, 100% 30%, 100% 100%, 0 80%)
}

@tailwind base;
@tailwind components;
@tailwind utilities;